HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
###module###
/eureka-server/.mvn/
/eureka-server/mvnw
/eureka-server/mvnw.cmd
/maple-oss/.mvn/
/maple-oss/mvnw
/maple-oss/mvnw.cmd
/maple-user/.mvn/
/maple-user/mvnw
/maple-user/mvnw.cmd
/maple-res/.mvn/
/maple-res/mvnw
/maple-res/mvnw.cmd
/demo-web/.mvn/
/demo-web/mvnw
/demo-web/mvnw.cmd
/maple-encrypt/.mvn/
/maple-encrypt/mvnw
/maple-encrypt/mvnw.cmd
/auditconfig/.mvn/
/auditconfig/mvnw
/auditconfig/mvnw.cmd
/maple-demo/.mvn/
/maple-demo/mvnw
/maple-demo/mvnw.cmd
/*/.mvn/
/*/mvnw
/*/mvnw.cmd
/application.pid
